# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*
terraform.env
.envrc

# OS X files
.history
.DS_Store

# IntelliJ files
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/
.vscode/
TMP/
# Go best practices dictate that libraries should not include the vendor directory
vendor

# Folder used to store temporary test data by Terratest
.test-data